################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################
/.vs/Anksus_WebAPI/.vs
/.vs/Anksus_WebAPI/
/Anksus_WebAPI/.vs/
.vs/
/.vs
/.vs/Anksus_WebAPI/FileContentIndex/0eddcf34-9b97-4389-9c44-639279720628.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/19c6b0a1-4791-40f7-b1f6-f6950308a0f9.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/63fc99c1-4b24-4434-a96d-4aa9f2838971.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/69e3888b-a601-4f45-99b1-f12cddc6b03f.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/a166bc1e-a163-4718-a9c9-8ca030c0693a.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/005fd05c-15e0-4c00-bfcd-784e7d1814bd.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/8ab08e77-241c-45c4-b219-43b908279e77.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/d29dea93-2488-404f-b27b-1257af3cd2f0.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/ec0dad9c-4ca3-4575-bc9a-0742ad7b56b3.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/587e2462-081e-4d51-9d95-32df05cd903a.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/a1386771-44a4-409d-90e3-45a2173a9e1a.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/e19230b9-cfd7-447b-84e2-d4a1fd9bd4bb.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/f7e40303-b9db-4a18-97d0-66722b4bc3bd.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/5e5c22f8-ecb1-4328-aaa4-1de5ec36a0d3.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/c6226114-698a-4f1e-b6a4-87cb01293c69.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/e141e902-62e2-429b-b77f-fa639a622cd9.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/3a431018-0496-4046-9072-8d48ed89926a.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/5db1be45-3f1d-4ddb-9aaa-ec0fb21f5f7e.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/56a71c10-65c5-43e6-bcf7-c8e5f8086aa4.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/624f55cd-5bcf-4b8a-bb33-3bb4a11f7878.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/a96ba04c-098b-4f09-af5b-8ce3f436e106.vsidx
/.vs/Anksus_WebAPI/config/applicationhost.config
/.vs/Anksus_WebAPI/config/applicationhost.config
