################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Anksus_WebAPI/FileContentIndex/0eddcf34-9b97-4389-9c44-639279720628.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/19c6b0a1-4791-40f7-b1f6-f6950308a0f9.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/63fc99c1-4b24-4434-a96d-4aa9f2838971.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/69e3888b-a601-4f45-99b1-f12cddc6b03f.vsidx
/.vs/Anksus_WebAPI/FileContentIndex/a166bc1e-a163-4718-a9c9-8ca030c0693a.vsidx
