@page "/Entrar/{code:int}"
@inject IHubconnectionService HubService
@inject NavigationManager daada
@layout ComponentsBase.ComponentBaseLogin
<link rel="stylesheet" href="css/codigo.css" />
<div class="code__body">
    <a href="../#">
        <img src="./img/Logo.png" alt="">
    </a>
    <h3 class="code__body__title">
        Inserta tu nombre
    </h3>
    <div class="FormConteiner">
        <input type="text" @bind="participante.Nombre" placeholder="xXJuanitoGaymerXx">

        <button @onclick="EntrarSesion">Ingresar</button>
    </div>
       
</div>
@code{
    [Parameter]
    public int code{ get; set; }

    public ParticipanteEnCuestDTO participante { get; set; } = new();
    private async Task EntrarSesion()
    {
        participante.codigo = code;
        await HubService.AddUserToRoom(participante);
    }
    
}