@page "/Entrar/{code:int}"
@inject HubConnecionService HubService
@inject NavigationManager daada
<div class="row">
    <input type="text" @bind="participante.Nombre" placeholder="Ingresa Nombre" />
    <button @onclick="EntrarSesion" >Ingresar</button>
</div>
<CascadingValue Value="participante">
    <TestAnskus.Client.Pages.EnJuego.Creador.Lobby>

    </TestAnskus.Client.Pages.EnJuego.Creador.Lobby>

</CascadingValue>
@code{
    [Parameter]
    public int code{ get; set; }

    public ParticipanteEnCuestDTO participante { get; set; } = new();
    private async Task EntrarSesion()
    {
        participante.codigo = code;
        await HubService.AddUserToRoom(participante);
    }
}