@page "/Sala"
@inject IStateConteiner StateConteiner
@implements IAsyncDisposable
@inject HubConnecionService HubServices
@layout ComponentsBase.ComponentBaseLogin
<link rel="stylesheet" href="css/codigo.css" />
<div class="lobby">

    <div class="lobby__info">
        <h2>Codigo de la partida</h2>
        <p>@StateConteiner.Participante.codigo</p>
    </div>
    <h3>Esperando inicio...</h3>

    <div class="SinglePlayer">
        <div class="activePlayers__grid">
            <h3 class="jugador">
                @StateConteiner.Participante.Nombre
            </h3>
        </div>
    </div>


</div>
@code{

    protected override void OnInitialized()
    {
        StateConteiner.StateChange += StateHasChanged;
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
    public async ValueTask DisposeAsync()
    {
        StateConteiner.StateChange -= StateHasChanged;
        await HubServices.UserLeft(StateConteiner.Participante);
    }
}