@page "/Playing"
@layout ComponentsBase.ComponentBaseLogin
@inject NavigationManager _navigationManager
@if (!MostrarRespuesta)
{
    <Pregunta OnSiguiente="Siguiente">


    </Pregunta>
}

<p>@segundos</p>
<p>Puntos:</p>
@code {
@using System.Timers
    private int segundos = 5;
    private Timer TimerSiguiente = new Timer(1000);
    private bool MostrarRespuesta = false;
    protected override async Task OnInitializedAsync()
    {
        TimerSiguiente.Elapsed += TimerEv2ent;
    }

    private async Task Siguiente()
    {
        TimerSiguiente.Enabled = true;
        MostrarRespuesta = true;
    }

    private async void TimerEv2ent(object source, System.Timers.ElapsedEventArgs e)
    {
      
        segundos = segundos - 1;
        if (segundos == 0)
        {
            TimerSiguiente.Enabled = false;
            _navigationManager.NavigateTo("/Ranking/Usuarios");
            TimerSiguiente.Dispose();

        }
        StateHasChanged();

    }
}
