@page "/Pregunta"
@layout ComponentsBase.ComponentBaseLogin
@inject IStateConteiner _StateContainer
@inject NavigationManager _NavigationManager
@foreach (var preguntas in _StateContainer.preguntas.Where(x=>x.IdPregunta==idPregunta))
{
    <p>pregunta: @preguntas.Pregunta</p>
    @foreach(var respuestas in preguntas.Respuesta)
    {
        <button type="button" class="btn btn-success">respuestas: @respuestas.respuesta</button>
    }
}
<p>@segundos</p>
@code {
@using System.Timers
    public int idPregunta { get; set; } = 0;
    private Timer Timer = new Timer(1000);
    private int segundos = 10;
    [Parameter]
    public EventCallback OnSiguiente { get; set; }
    protected override async Task OnInitializedAsync()
    {
        idPregunta = _StateContainer.IdPregunta;
        if (Timer.Enabled == false) Timer.Enabled = true;
        Timer.Elapsed += TimerEvent;
    }
    private async void TimerEvent(object source, System.Timers.ElapsedEventArgs e)
    {
        segundos = segundos - 1;
        if (segundos == 0)
        {
            Timer.Enabled = false;
            Timer.Dispose();
            await OnSiguiente.InvokeAsync();                                   
        }

        StateHasChanged();
    }
}