@page "/GuiaDeUso"
<main>
    <section class="custom-left-section">
        <h1>Bienvenido A Anksus</h1>
        <p>Esta guia te ayudara a Comenzar en nuestra aplicacion.</p>

        <h2>Crear un cuestionario</h2>
        <ol>
            <li class="opcion">Crear una cuenta </li>
            <li class="opcion">Iniciar sesion</li>
            <li class="opcion">Ve a seccion crear cuestionarios</li>
            <li class="opcion">Ingresa los datos que necesitas</li>
            <li class="opcion">!Y Listo!</li>
        </ol>

        <h2>Unirse a un cuestionario</h2>
     
        <ul class="custom-left-section">
            <li>Pedir el codigo a el creador</li>
            <li>Ingresar el codigo en la seccion de unirse</li>
            <li>Ingresar un nombre de usuario</li>
            <li>Esperar a que inicie la partida.</li>
        </ul>
    </section>
</main>