@page "/CuestionarioActivo"
@implements IAsyncDisposable
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager NavigationM
@inject HttpClient _httpclient
@inject HubConnecionService HubService
<p> @participantes Participantes</p>
<div class="row">
    <input type="text" @bind="nombre"  placeholder="Ingresa Nombre" />
    <button @onclick="IngresarUsuario">Ingresar</button>
</div>
@foreach(var participante in participantesList)
{
    <p>@participante.Nombre</p>
}
@code {
    [Parameter]
    public string code { get; set; }  
    [Parameter]
    public string id { get; set; }
    int participantes;
    private List<ParticipanteEnCuestDTO> participantesList = new List<ParticipanteEnCuestDTO>();
    string nombre="";
    private bool _isNavigating = false;

   
    private void UsuariosEnSala(List<string> nombres)
    {
        participantesList = nombres.Select(nombre => new ParticipanteEnCuestDTO { Nombre = nombre, codigo =Convert.ToInt32( code )}).ToList();
        StateHasChanged();
    }
    private async Task IngresarUsuario()
    {
        if (!String.IsNullOrEmpty(nombre))
        {

            nombre = "";
        }
        
    }
    void OnUpdateUsersCount(int count)
    {
        participantes = count;
        StateHasChanged();
    }
    void ParticipanteRecived(ParticipanteEnCuestDTO participante)
    {
        participantesList.Add(participante);
        StateHasChanged();
    }
    public async ValueTask DisposeAsync()
    {
        await HubService.DisposeAsync();
    }

}
