 @using TestAnskus.Client.Pages
<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
       <a href="Logout">Log Out</a>
    </Authorized>
    
    <NotAuthorized >
        <li class="nav-item">
            <NavLink class="nav-link font-weight-bold" href="Login">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Login
            </NavLink>
        </li><li class="nav-item">
            <NavLink class="nav-link btn-sign-up" href="Register">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sign up
            </NavLink>
        </li>

    </NotAuthorized>
</AuthorizeView>
