@inherits LayoutComponentBase

<NavMenu />

<main class="container">
    @Body
</main>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@code{
    // [Inject]
    // HubConnection hubConnection { get; set; }
    // protected override async Task OnInitializedAsync() => await IniciarHub();

    // async Task IniciarHub() {
    //     if (hubConnection == null || hubConnection.State == HubConnectionState.Disconnected)
    // {
    //         await hubConnection.StartAsync();

    //     }
    // }
}