@page "/Lobby/{code:int}/{id}"
@page "/Lobby/{code:int}"
@inject HubConnecionService HubServices
@implements IAsyncDisposable
@inject NavigationManager navigationManager
<h1>Participantes.</h1>
@foreach (var participante in participantesActivos)
{
    <p>@participante.Nombre</p>
}
