@page "/Lobby/{code:int}/{id}"
@page "/Lobby/{code:int}"
@inject HubConnecionService HubServices
@inject NavigationManager navigationManager
<h1>Participantes: @ParticipantesCount</h1>


@code {
    int cantidad = 0;
    [Parameter]
    public int code { get; set; } 
    [Parameter]
    public string id { get; set; }
    [CascadingParameter]
    private ParticipanteEnCuestDTO? participante { get; set; }
    private List<ParticipanteEnCuestDTO> participantesActivos = new();
    private int ParticipantesCount = 0;

    protected override async Task OnInitializedAsync()
    {

        await HubServices.GetUsers(code);        
    }
 
    private async Task GetUsers()
    {
        await HubServices.GetUsers( code);
    }
    private async Task ObtenerJugadores()
    {
        var response =  HubServices.GetUsers(code);
    }

    private async Task EntrarSesion()
    {
        participante.codigo = code;
        await HubServices.AddUserToRoom(participante);
    }

}
