@page "/RankingCreador"
@inject IHubconnectionService hubConnectionServices
@inject IStateConteiner _StateContainer
@inject NavigationManager _NavigationManager
@inject IHubStateCreador _stateCreador
@layout ComponentsBase.ComponentBaseLogin

<button @onclick="SiguientePregunta" >Siguiente</button>
<Ranking></Ranking>
@code {

    protected override void OnInitialized()
    {
        _StateContainer.OnSiguientePregunta += SiguientePregunta;

    }

    private void SiguientePregunta(PreguntasDTO pregunta, string? titulo)
    {
        _StateContainer.pregunta = pregunta;
        _NavigationManager.NavigateTo("/Pregunta");
        _stateCreador.ListaPuntos.Clear();
    }
    private async Task SiguientePregunta()
    {
        await hubConnectionServices.SiguientePreguntaUsuarios();
    }

}
